@import "../colors.scss";

.product {
	display: flex;
	width: 75%;
	margin: 30px auto;
	height: 500px;
	box-shadow: -0.23px 1px 5px 0px rgba(0, 0, 0, 0.2);
	justify-content: space-between;

	&__image {
		flex: 2;
		height: 100%;
		margin-left: 50px;
		img {
			height: 320px;
			width: 230px;
			margin: 50px;
		}
	}
	// cover for the item information path in product-detailos
	&-info {
		flex: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 40px auto;
	}

	.star-rating {
		&__star {
			padding: 3px;
			vertical-align: middle;
			line-height: 1;
			font-size: 1.3em;
			color: #ababab;
			transition: color 0.2s ease-out;

			&:hover {
				cursor: pointer;
			}

			&.is-selected {
				color: #ffd700;
			}
		}
	}

	&__color span {
		height: 15px;
		width: 15px;
		display: inline-block;
		border-radius: 50%;
		margin-right: 10px;
	}
	&__size span {
		height: 25px;
		width: 45px;
		display: inline-block;
		margin-right: 10px;
		background-color: #efefef;
		padding: 5px 10px;
		font-size: 12px;
		text-align: center;
		cursor: pointer;
	}

	&__quatity span {
		height: 30px;
		width: 30px;
		display: inline-block;
		margin-right: 10px;
		background-color: #efefef;
		padding: 2px 5px;
		font-size: 20px;
		text-align: center;
		font-weight: 400;
		border-radius: 50%;
		cursor: pointer;
	}
	.product-value {
		width: 40px;
		background-color: #fff;
		border: 1.5px solid #efefef;
		padding: 5px;
		font-size: 15px;
		border-radius: 40%;
		cursor: auto;
	}
	&__cart-btn {
		background-color: map-get($colors, primary);
		padding: 20px 50px;
		font-size: 15px;
		color: #fff;
		font-weight: bold;
		border-radius: 50px;
		outline: none;
		cursor: pointer;
		width: 200px;
		margin-top: 30px;
	}

	.price {
		font-size: 25px;
		font-weight: bolder;
		color: map-get($colors, primary);
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.name {
		letter-spacing: 2px;
		font-weight: 400;
		font-size: 30px;
	}
	p.label {
		margin-bottom: 10px;
		color: #a0a09d;
	}
	.active-size {
		background-color: map-get($colors, primary);
		color: #ffffff;
	}

	.product__quatity,
	.product__size {
		margin-top: 15px;
	}
	.active-color {
		box-shadow: 0 0 10px 5px rgba(63, 62, 62, 0.6);
	}
}
