.shopping-cart {
	height: 600px;
	width: 70%;
	background-color: #fff;
	position: absolute;
	z-index: 5;
	margin-left: 225px;
	overflow: scroll;
	top: -620px;
	transition: .5s;
	box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(172, 170, 168, 0.1);
	display: flex;
	flex-direction: column;

	&__cancel-btn {
		float: right;
		margin-right: 20px;
		margin-top: 10px;
		font-size: 23px;
		cursor: pointer;
		text-align: right;
		&:hover {
			color: red;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		padding-left: 60px;
		padding-right: 60px;
		flex: 1;
		overflow: scroll;
	}

	&__header {
		font-weight: 400;
		font-size: 20px;
	}

	&__item {
		min-width: 100px;
		display: flex;
		align-items: center;

		&__removeItem {
			margin-top: 10px;
			font-size: 12px;
			color: rgb(190, 189, 189);
			font-weight: 300;

			&:hover {
				color: red;
				cursor: pointer;
			}

			span {
				color: #ff0000;
				margin-right: 3px;
			}
		}
	}
	&__img {
		height: 100px;
		margin-right: 10px;
	}

	table {
		border-collapse: collapse;
		margin-top: 20px;
	}

	th,
	td {
		text-align: left;
		padding: 10px;
		margin-top: 15px;
	}

	th {
		color: rgb(168, 163, 163);
		font-weight: 300;
	}
	thead {
		border-bottom: 1px solid black;
	}

	.product-value {
		width: 35px;
		background-color: #fff;
		border: 1.5px solid #efefef;
		padding: 2px 5px;
		font-size: 15px;
		border-radius: 40%;
		cursor: auto;
	}

	&__quantity span {
		height: 25px;
		width: 25px;
		display: inline-block;
		margin-right: 10px;
		background-color: #efefef;
		font-size: 20px;
		text-align: center;
		font-weight: 400;
		border-radius: 50%;
		cursor: pointer;
	}

	.footer {
		width: 100%;
		background-color: #efefef;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 40px;

		&-checkout {
			background-color: #f62f5e;
			color: #fff;
			padding: 10px 15px;
			font-size: 15px;
			border-radius: 50px;
			outline: none;
			cursor: pointer;
			width: 150px;
		}

		&-back {
			background-color: #fff;
			color: #f62f5e;
			padding: 10px 15px;
			font-size: 15px;
			/* font-weight: bold; */
			border-radius: 50px;
			outline: none;
			cursor: pointer;
			width: 150px;
		}
	}
}

.shopping-cart.active {
	top: 40px;
	transition: 1s;
}
