@import "../colors.scss";
@import "../mixins.scss";
@import "sass-rem";

.top-nav {
    width: 95%;
    margin: 0 auto;
    font-weight: bold;

    @include flex;

    height: rem(35px);
    padding-top: 15px;

    &__registration {
        span {
            color: map-get($colors, primary);
            &:hover{
                cursor: pointer;
            }
        }
    }

    &__quick-reference ul {
        @include flex;

        li {
            margin-left: 30px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__user-info {
        @include flex;

        width: rem(320px);

        &--country {
            width: 84px;

            @include flex;
        }

        &--cart {
            @include flex;

            .notification {
                position: relative;
                margin-right: 16px;

                .badge {
                    position: absolute;
                    top: -9px;
                    right: -10px;
                    padding: 1px 5px;
                    border-radius: 50%;
                    background: map-get($colors, primary);
                    color: map-get($colors, white);
                }
            }
        }
    }
}
